source https://nuget.org/api/v2

framework: auto-detect

nuget Persimmon.Runner
nuget Persimmon.Console
nuget FSharp.Control.Reactive

github persimmon-projects/Persimmon src/Persimmon.Console/Args.fs